.GambarUtama {
	color: white;
	object-fit: contain;
	height: 100%;
	position: relative;
}

.IsiGambar {
	padding-top: 140px;
	height: 190px;
	margin-left:30px;
}

.Judul {
	font-size: 3rem;
	font-weight: 800;
	padding-bottom: 0.3rem;
	color :white;
	text-decoration: none;
}

.genre__title {
	font-size: 3rem;
	font-weight: 800;
	padding-bottom: 0.3rem;
	padding : 10px;
	text-decoration: none;
}


.Deskripsi {
	width: 45rem;
	line-height: 1.3;
	padding-top: 1rem;
	font-size: 0.8rem;
	max-width: 360px;
	height: 80px;
}

.Bayangan {
	height: 7.4rem;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgba(37, 37, 37, 0.61),
		#111
	);
}
