body{
    background-color:black;
}

.poster{
    max-width:100%;
    max-height: auto;
    object-fit: contain;
    position: relative;
    align-items: center;
    align-content: center;
    
}

.gambar{
    max-width : 300px;
    float:left;
    padding: 20px;
}

.isi5{
    color:white;
    text-align: justify;
    text-justify: inter-word;
}

.judul{
    color : red;
    padding : 20px;
    text-align : center;
    font-size : 30px;
    text-decoration: none;
}

.rating{
    color:yellow;
    font-size:25px;
}

.release {
    color:green;
    font-size: 20px;
}