/* menu */
.dropdown-menu {
  background: red;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #a05344;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #e79e4f;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link-menu {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  /*.fa-caret-down {
    display: none;
  }*/
}
